# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# IDE and editor directories
.vscode/
.idea/

# Build output
dist/
build/


# Firebase Admin SDK Key
assets/key/levelup-eccd9-firebase-adminsdk-p56cx-44aab5423c.json
assets/key/levelup-eccd9-firebase-adminsdk-p56cx-afb1baba03.json
assets/key/certi.json
